body {
  text-align: center;
  font-family: helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.nav {
  color: white;
  font-size: 18px;
}

p {
  font-size: 14px;
}

.background {
  background-image: url(../the-flatiron-building.png);
  color: white;
}

footer {
  background-color: dimgray;
  color: white;
}
